</h5><h1>Viewing Party Lite</h1>
<% if current_user %>
  <%= link_to "Log Out", "/logout", method: :delete %>
<% else %>
  <%= button_to "Create New User", "/register", method: :get %>
  <h3><%= link_to "Log In", "/login" %></h3>
<% end %>
<% if current_user %>
  <h3>Existing Users</h3>
  <% @users.each do |user| %>
    <p><%= user.email %></p>
<% end %>
<% end %>
